:root {
  --darkest: #11151cff;
  --primary-med: #6c7d47ff;
  --primary-light: rgb(149, 162, 121);
  --secondary-light: #d66853ff;
  --secondary-med: #bb4430ff;
  --lightest: #b4c5e4ff;
  --font-size: 1.3rem;
  --heading-font: "Archivo", sans-serif;
  --body-font: "Tenor Sans", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--body-font);
  padding: 0;
  margin: 0;
  background-color: var(--darkest);
  color: var(--lightest);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--secondary-light);
}

a:hover {
  color: var(--primary-light);
  text-decoration: none;
}

/* intro styles */
#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

.name {
  font-family: var(--heading-font);
}

.name span {
  font-family: var(--body-font);
  font-size: 4rem;
  color: var(--primary-light);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}
