/* CSS HEX */

:root {
  --darkest: #11151cff;
  --bright-pink: #e979fa;
  --purple: rgb(87, 45, 132);
  --red: #b63e27;
  --orange: #d76a30;
  --yellow-orange: #ebbd32;
  --yellow-green: #b5d030;
  --blue: #2b589f;
  --light-blue: #84b8d9ff;
  --light: #e9e9e9;
  --lightest: #e9e6e6;

  --font-size: 1.3rem;
  --cursive: "Arima Madurai", cursive;
  --sans: "Montserrat", sans-serif;
  --mono: "Roboto Mono", monospace;
  --heading-font: "Archivo", sans-serif;
  --body-font: "Tenor Sans", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--sans);
  padding: 0;
  margin: 0;
  background-color: var(--darkest);
  color: var(--light);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--yellow-orange);
}

a:hover {
  color: var(--yellow-green);
  text-decoration: none;
}

/* intro styles */
#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

.name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--light-blue);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

#contact {
  background-color: var(--purple);
  font-size: 1rem;
  padding: 20px 100px;
  text-align: center;
}
